.mainpage_container {
	width: 100vw;
	height: 100vh;
	background-color: #e3e6e6;
}

.mainpage {
	margin: auto;
	width: 1500px;
	height: 100vh;
	background-image: url('https://ik.imagekit.io/lk71zbgkh/amazon-image/1348517_in_prime_2_pd_3000x1200_Eng._CB663273097_.jpg.png?updatedAt=1708955101301'), linear-gradient(transparent, #e3e6e6);
	background-repeat: no-repeat;
	background-size: 1500px;
}

.belt {
	height: 200px;
}

.card_container {
	margin-top: 30px;
	display: flex;
}
