.mainpage_container {
	width: 100%;
	height: 100%;
	background-color: #e3e6e6;
}

.mainpage {
	margin: auto;
	width: 1500px;
	height: 100%;
	background-image: url('https://ik.imagekit.io/lk71zbgkh/amazon-image/1348517_in_prime_2_pd_3000x1200_Eng._CB663273097_.jpg.png?updatedAt=1708955101301'), linear-gradient(transparent, #e3e6e6);
	background-repeat: no-repeat;
	background-size: 1500px;
}

.belt {
	height: 275px;
}

.card_container {
	margin-top: -45px;
	display: flex;
	flex-wrap: wrap;
}

.dailydeals_container {
	margin: 20px 20px 0px 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	background-color: white;
	height: 325px;
}

.deals_title_container {
	display: flex;
}

.deals_title_container h3 {
	margin: 20px 0px 10px 20px;
	font-size: 20px;
}

.deals_title_container span {
	margin: 27px 0px 10px 20px;
	font-size: 14px;
	color: #229aaf;
}

.deals_container {
	margin-left: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
}

.deals_container::-webkit-scrollbar {
	width: 5px;
}

.deals_container::-webkit-scrollbar-thumb {
	background-color: #888;
}

.imagebelt_container {
	margin: 0px 20px 45px 0px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.pricecards_container {
	margin: -20px 20px 50px 20px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: hidden;
	background-color: white;
	height: 325px;
}

.pricecards {
	margin-left: 10px;
	display: flex;
}

.belt2 {
	height: 0.5px;
}

.sign_in_container {
	margin: -20px 0px 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	height: 200px;
}

.add_container {
	margin-top: 45px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: #dddddd solid 1px;
	width: 100vw;
	height: 120px;
	margin-bottom: 20px;
}

.recom {
	margin-top: 40px;
	font-size: 13px;
}

.add_container button {
	margin-top: 3px;
	width: 220px;
	padding: 5px;
	border-radius: 5px;
	background: linear-gradient(to bottom, #ffd875 20%, #ffc636 100%);
	border: 1px solid;
	border-color: #e6a400;
	color: #111;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}

.add_container p {
	margin-top: 2px;
	font-size: 11px;
	color: #111;
}

.add_container p > span {
	color: #229aaf;
}
