.mainpage_container {
	width: 100%;
	height: 100%;
	background-color: #e3e6e6;
}

.mainpage {
	margin: auto;
	width: 1500px;
	height: 100%;
	background-image: url('https://ik.imagekit.io/lk71zbgkh/amazon-image/1348517_in_prime_2_pd_3000x1200_Eng._CB663273097_.jpg.png?updatedAt=1708955101301'), linear-gradient(transparent, #e3e6e6);
	background-repeat: no-repeat;
	background-size: 1500px;
}

.belt {
	height: 200px;
}

.card_container {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
}

.dailydeals_container {
	margin: 20px 20px 0px 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	background-color: white;
	height: 325px;
}

.deals_title_container {
	display: flex;
}

.deals_title_container h3 {
	margin: 20px 0px 10px 20px;
	font-size: 20px;
}

.deals_title_container span {
	margin: 27px 0px 10px 20px;
	font-size: 14px;
	color: #229aaf;
}

.deals_container {
	margin-left: 10px;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
}

.deals_container::-webkit-scrollbar {
	width: 5px;
}

.deals_container::-webkit-scrollbar-thumb {
	background-color: #888;
}
