.footer_bottom {
	display: flex;
	flex-direction: column;
	height: 250px;
	background-color: #131a22;
	justify-content: center;
	align-items: center;
}

.columns {
	display: flex;
	justify-content: space-between;
	width: 1000px;
	flex-wrap: wrap;
}

.column {
	display: flex;
	flex-direction: column;
	width: 200px;
	margin: 0px 12px;
}

.head {
	color: white;
	font-size: 13px;
	margin-bottom: 0px;
}

.content {
	margin: 0px;
	color: #999391;
	font-size: 12px;
}

.tnc {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 600px;
	flex-wrap: wrap;
}

.tnc p {
	color: white;
	font-size: 12px;
	margin: 0px 10px;
}
